{% extends 'barbearia/base.html' %}

{% block title %}Senha Redefinida - Barbearia Xavier{% endblock %}

{% block content %}
<div class="auth-page-container">
    <div class="login-form text-center">
        <div class="icon-success">✓</div>
        <h2 class="golden-text">Senha Alterada!</h2>
        
        <p class="text-lead mb-20">Sua nova senha foi salva com sucesso. Agora você já pode acessar sua conta.</p>
        
        <a href="{% url 'login' %}" class="btn-custom btn-primary w-100">
            Ir para Login
        </a>
    </div>
</div>
{% endblock %}