{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Agendamento - Barbearia Xavier</title>
    <link rel="stylesheet" href="{% static 'barbearia/style.css' %}">
</head>
<body>
    <div class="container">
        <h2 class="gold-text">Agendar Horário</h2>
        <form method="post" class="booking-form">
            {% csrf_token %}
            
            <section class="booking-main">
                {{ form.as_p }}
            </section>

            <h3 class="gold-text">Escolha os Serviços (Carrinho)</h3>
            {{ formset.management_form }}
            <div class="formset-container">
                {% for f in formset %}
                    <div class="formset-row">
                        {{ f.as_p }}
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn-home btn-primary-custom">Finalizar Agendamento</button>
        </form>
    </div>
</body>
</html>