{% load static %}
<!DOCTYPE html>
<html lang="pt-">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbearia Xavier - Início</title>
    <link rel="stylesheet" href="{% static 'barbearia/style.css' %}">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo"><h2>LX</h2></div>
            <div class="nav-links">
                <a href="{% url 'home' %}">Início</a>
                <a href="{% url 'lista_servicos' %}">Serviços</a>
                <a href="/admin">Admin</a>
            </div>
        </nav>
    </header>

    <main>
        {% if user.is_authenticated %}
            <div class="user-welcome">
                <p>Olá, <strong>{{ user.username }}</strong>! Você está logado.</p>
                <a href="{% url 'logout' %}" class="logout-link">Sair</a>
            </div>
        {% endif %}
        <section class="hero">
            <h2>Estilo e Tradição</h2>
            <p>Onde a arte da barbearia encontra o cavalheiro moderno. Agende seu horário e transforme seu visual.</p>
            
            <div class="cta-buttons">
                <a href="{% url 'lista_servicos' %}" class="btn-home btn-primary-custom">Ver Serviços</a>
                <a href="#" class="btn-home btn-secondary-custom">Agendar Agora</a>
            </div>
        </section>

        <section class="info-section">
            <h3 class="golden-text">Por que nos escolher?</h3>
            <div class="info-container">
                <div>
                    <h4>Profissionais</h4>
                    <p>Barbeiros experientes.</p>
                </div>
                <div>
                    <h4>Ambiente</h4>
                    <p>Espaço climatizado e café.</p>
                </div>
                <div>
                    <h4>Localização</h4>
                    <p>Fácil acesso no centro.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="main-footer">
        <p>&copy; 2026 Barbearia Xavier - Desenvolvido por Leonardo Xavier</p>
    </footer>

</body>
</html>