{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Serviços - Barbearia</title>
    <link rel="stylesheet" href="{% static 'barbearia/style.css' %}">
</head>
<body>

    <h1>Nossos Serviços</h1>

    <div class="container">
        {% for servico in servicos %}
        <div class="card">
            <h3>{{ servico.nome }}</h3>
            <p class="price">R$ {{ servico.preco_tabela }}</p>
            <a href="#" class="btn-agendar">Adicionar</a>
        </div>
        {% empty %}
            <p>Nenhum serviço disponível no momento.</p>
        {% endfor %}
    </div>

</body>
</html>